.container {
    background: #ac063c;
    height: 84px;
}
.container ul {
    display: flex;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.container ul li {
    font-size: 14px;
    letter-spacing: -0.2px;
    font-weight: 600;
    color: var(--primary-font-color);
}

.container ul li a:hover {
    color: var(--primary-font-color--hover);
}

.container .menu {
    display: flex;
    width: 100%;
    max-width: 470px;
    justify-content: space-between;
}

.container button * {
    font-family: "poppins";
}
