.container {
    width: 100%;
}

.container section {
    position: relative;
    height: 860px;
    width: 100%;
}

.container .video {
    height: 940px;
    position: relative;
}

.container .background_video {
    background-color: #44c89d;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.container section video {
    position: relative;
    width: 100%;
    object-fit: cover;
    height: 100%;
    z-index: 1;
}

.container .text_over_image {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .text_over_image.story {
    height: 66.6%;
}

.container .text_over_image.product * {
    color: white;
}

.container section img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.container section .main_title {
    font-size: 60px;
    font-weight: 600;
}

.container section .main_title {
    font-size: 60px;
    font-weight: 600;
}

.container section .sub_title {
    font-size: 32px;
    margin-bottom: -8px;
    font-weight: 500;
}
